In [11]:
import pandas as pd
import requests

### 1. Data Exploration - dataset_v1 - More reliable version 80% annotation agreement (hate_speech_dataset.csv)

 These domains are Religion, Gender, Race, Politics, Sports.

**HateLabel** \
0 Normal \
1 Offensive \
2 Hate

In [14]:
df = pd.read_csv('../data/twitter_data.csv')

                   TweetID  LangID  TopicID  HateLabel TweetText
0      1344794359233998850       1        1          0        Na
1      1344794162625916935       1        1          0        Na
2      1344794094837637121       1        1          0        Na
3      1344790842117140483       1        1          0        Na
4      1344788907360190465       1        1          0        Na
...                    ...     ...      ...        ...       ...
68592  1277310569700196352       1        4          1        Na
68593  1277310293467713536       1        4          1        Na
68594  1277309147697106945       1        4          1        Na
68595  1277309020198633475       1        4          2        Na
68596  1277308852493524992       1        4          0        Na

[68597 rows x 5 columns]

In [15]:
english_df = df[df['LangID'] == 1]
english_df.head(5)

               TweetID  LangID  TopicID  HateLabel TweetText
0  1344794359233998850       1        1          0        Na
1  1344794162625916935       1        1          0        Na
2  1344794094837637121       1        1          0        Na
3  1344790842117140483       1        1          0        Na
4  1344788907360190465       1        1          0        Na

### Making the for loop to get Tweet_text by Tweet_ID from API

In [37]:
API_KEY='844e748a6bmsh73e9326b8789dadp1e1cb7jsn8af7cd97e316'
url = "https://twitter135.p.rapidapi.com/v2/TweetDetail/"

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "twitter135.p.rapidapi.com"
}

In [16]:
english_df['TweetText'] = ''
english_df

                   TweetID  LangID  TopicID  HateLabel TweetText
0      1344794359233998850       1        1          0
1      1344794162625916935       1        1          0
2      1344794094837637121       1        1          0
3      1344790842117140483       1        1          0
4      1344788907360190465       1        1          0
...                    ...     ...      ...        ...       ...
68592  1277310569700196352       1        4          1
68593  1277310293467713536       1        4          1
68594  1277309147697106945       1        4          1
68595  1277309020198633475       1        4          2
68596  1277308852493524992       1        4          0

[68597 rows x 5 columns]

In [67]:
import requests

def get_text(id_number):

    url = "https://twitter135.p.rapidapi.com/v2/TweetDetail/"

    querystring = {"id":id_number}

    headers = {
    "X-RapidAPI-Key": "844e748a6bmsh73e9326b8789dadp1e1cb7jsn8af7cd97e316",
    "X-RapidAPI-Host": "twitter135.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    return response.json()['data']['threaded_conversation_with_injections_v2']['instructions'][0]['entries'][0]['content']['itemContent']['tweet_results']['result']['legacy']['full_text']

In [9]:
df_ten_rows = pd.DataFrame(english_df.sample(25))

NameError: name 'english_df' is not defined

In [97]:
error_list = []

for index, tweet_id in df_ten_rows.TweetID.items():
    time.sleep(0.3)
    try:
        text = get_text(tweet_id)
        df_ten_rows.loc[index, 'TweetText'] = text
    except:
        error_list.append(tweet_id)

In [8]:
df_sample25 = df_ten_rows
df_sample25

NameError: name 'df_ten_rows' is not defined

In [104]:
df_sample25.to_csv('df_sample25.csv', index=False)

### 2. Data Modelling (RNN)

model = tf.keras.Sequential([
    encoder,
    tf.keras.layers.Embedding(
        input_dim=len(encoder.get_vocabulary()),
        output_dim=64,
        # Use masking to handle the variable sequence lengths
        mask_zero=True),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
])

In [ ]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              optimizer=tf.keras.optimizers.Adam(1e-4),
              metrics=['accuracy'])

In [ ]:
history = model.fit(train_dataset, epochs=10,
                    validation_data=test_dataset,
                    validation_steps=30)

In [ ]:
test_loss, test_acc = model.evaluate(test_dataset)