In [40]:
import pandas as pd

## Dataset v1 (hate_speech_dataset.csv)

The dataset is composed of 200,000 tweets. Half of them is Turkish and other half is English. We also have domain information of the hate speech. These domains are Religion, Gender, Race, Politics, Sports. Each domain has 20,000 tweets in each respective language. 5 hate annotations of the tweet are also given. Since we followed Twitter's Terms and Conditions, publish tweet IDs not the tweet content directly. Explanations of the columns of the file are as follows:

**HateLabel** \
0 Normal \
1 Offensive \
2 Hate

In [35]:
dataset_v2 = pd.read_csv('hatespeech-master/dataset_v2/hate_speech_dataset_v2.csv')
english_df = dataset_v2[dataset_v2['LangID'] == 1]
english_df.head(5)

                   TweetID  LangID  TopicID  HateLabel
23891  1344794359233998850       1        1          0
23892  1344794162625916935       1        1          0
23893  1344794094837637121       1        1          0
23894  1344790842117140483       1        1          0
23895  1344788907360190465       1        1          0

### Making the for loop to get Tweet_text by Tweet_ID from API

In [36]:
import requests

In [37]:
API_KEY='844e748a6bmsh73e9326b8789dadp1e1cb7jsn8af7cd97e316'
url = "https://twitter135.p.rapidapi.com/v2/TweetDetail/"

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "twitter135.p.rapidapi.com"
}

In [42]:
english_df['TweetText'] = 'NA'
english_df

/var/folders/hp/ytf1kqk92hd11vlmtk9zz38r0000gn/T/ipykernel_95890/1142409788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df['TweetText'] = 'NA'

                    TweetID  LangID  TopicID  HateLabel TweetText
23891   1344794359233998850       1        1          0        NA
23892   1344794162625916935       1        1          0        NA
23893   1344794094837637121       1        1          0        NA
23894   1344790842117140483       1        1          0        NA
23895   1344788907360190465       1        1          0        NA
...                     ...     ...      ...        ...       ...
104351  1277310569700196352       1        4          1        NA
104352  1277310293467713536       1        4          1        NA
104353  1277309147697106945       1        4          1        NA
104354  1277309020198633475       1        4          2        NA
104355  1277308852493524992       1        4          0        NA

[68597 rows x 5 columns]

In [67]:
import requests

def get_text(id_number):

    url = "https://twitter135.p.rapidapi.com/v2/TweetDetail/"

    querystring = {"id":id_number}

    headers = {
    "X-RapidAPI-Key": "844e748a6bmsh73e9326b8789dadp1e1cb7jsn8af7cd97e316",
    "X-RapidAPI-Host": "twitter135.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    return response.json()['data']['threaded_conversation_with_injections_v2']['instructions'][0]['entries'][0]['content']['itemContent']['tweet_results']['result']['legacy']['full_text']

In [68]:
# tweet_list = []


# for i in range(5):
#     tweet_id = english_df['TweetID'][i]
#     querystring = {"id": str(tweet_id)}
#     response = requests.get(url, headers=headers, params=querystring)
#     tweet_list.append(response.json()['data']['threaded_conversation_with_injections_v2']['instructions'][0]['entries'][0]['content']['itemContent']['tweet_results']['result']['legacy']['full_text'])

In [73]:
texts=[]
error_list = []
import time
for each in english_df.head().TweetID:
    time.sleep(0.3)
    try:
        texts.append(get_text(each))
    except:
        error_list.append(each)

In [80]:
texts

['You know maybe doing a ‚Äúchallenge‚Äù where I drink shots whenever I die I‚Äôm The last of us 2 when I die probably wasn‚Äôt smart.\n\nHappy new gay year y‚Äôall',
 'RT @thehill: Black transgender woman found dead on Christmas Day https://t.co/hTvmF0Utza https://t.co/JQyMSRTnvW',
 'Guest Co Host: Men Like Us Podcast\n#StopTheHate #StopTheKilling #BrooklynDeShauna #SaraBlackwood #ColdCases #Awareness #TransLivesMatter #LGBTQ #podcasts #Anchor #PodernFamily \nhttps://t.co/7tLy5FK3Z3',
 "üëè Congratulations @AyodejiOsowobi @StandtoEndRape initiative for winning #GCPrize 2020 Nigeria's Hero Award. You deserve this recognition for providing mental health support and safe spaces for survivors of gender-based violence. Keep it up! üåç https://t.co/fi7wE7RUPq"]

In [75]:
error_list

[1344794094837637121]

In [95]:
df_ten_rows = pd.DataFrame(english_df.sample(25))

In [96]:
df_ten_rows

                   TweetID  LangID  TopicID  HateLabel TweetText
49624  1278076979778973696       1        3          0        NA
30706  1343630042526601217       1        1          0        NA
99912  1233897422591578113       1        4          0        NA
90001  1344777404628279297       1        4          0        NA
47232  1233897542779310086       1        3          0        NA
26091  1376531295745011712       1        1          1        NA
26844  1377402003576418307       1        1          0        NA
44412  1233904779862126593       1        3          0        NA
45388  1233902811689160705       1        3          0        NA
98989  1233889687380602883       1        4          0        NA
34373  1277803960800288768       1        1          0        NA
26631  1342750820425723904       1        1          0        NA
38343  1377274991486533632       1        3          0        NA
33752  1233862769319038977       1        1          1        NA
53231  1343970405816684544       1        2          0        NA
70468  1344570562354556928       1        0          0        NA
29635  1343914751550746627       1        1          0        NA
37983  1377278950808772617       1        3          0        NA
93775  1377288325602533379       1        4          0        NA
38453  1377269814151020550       1        3          0        NA
91770  1343810431446622208       1        4          0        NA
43957  1344708771491295233       1        3          0        NA
27735  1344392976370454533       1        1          0        NA
69928  1344639717778735106       1        0          0        NA
67938  1377372853754945537       1        0          0        NA

In [97]:
error_list = []

for index, tweet_id in df_ten_rows.TweetID.items():
    time.sleep(0.3)
    try:
        text = get_text(tweet_id)
        df_ten_rows.loc[index, 'TweetText'] = text
    except:
        error_list.append(tweet_id)

In [103]:
df_sample25 = df_ten_rows
df_sample25

,TweetID,LangID,TopicID,HateLabel,TweetText
49624,1278076979778973696,1,3,0,Joe Biden emerged from his basement to whine a...
30706,1343630042526601217,1,1,0,NA
99912,1233897422591578113,1,4,0,I‚Äôm looking forward to connecting with fellow ...
90001,1344777404628279297,1,4,0,I still can‚Äôt believe I didn‚Äôt win the chip in...
47232,1233897542779310086,1,3,0,"#Trump Says: Dana, you are the real deal! http..."
26091,1376531295745011712,1,1,1,whos blood is even in those gay satanic shoes??
26844,1377402003576418307,1,1,0,"Why are ""gender reveal"" stunts still a thing? ..."
44412,1233904779862126593,1,3,0,Senator Sanders will run off with 30% of the v...
45388,1233902811689160705,1,3,0,Trump administration about to give Israel $3.8...
98989,1233889687380602883,1,4,0,"""I was in that pressure the whole summer tryin..."
34373,1277803960800288768,1,1,0,Recently alotta people say things things that...
26631,1342750820425723904,1,1,0,NA
38343,1377274991486533632,1,3,0,#Pakistan‚Äôs intelligence agency has summoned t...
33752,1233862769319038977,1,1,1,NA
53231,1343970405816684544,1,2,0,Russian armed forces attacked Ukraine at Vodya...
70468,1344570562354556928,1,0,0,A great initiative among all the misery.\n\nCo...
29635,1343914751550746627,1,1,0,With the religious right actively demonizing t...
37983,1377278950808772617,1,3,0,NA
93775,1377288325602533379,1,4,0,James Ward-Prowse out of England squad for Pol...
38453,1377269814151020550,1,3,0,Proud family moment as Biden honors #Worcester...
91770,1343810431446622208,1,4,0,Quez Watkins: Hauls in long bomb in loss https...
43957,1344708771491295233,1,3,0,You couldn‚Äôt catch me DEAD in the car with som...
27735,1344392976370454533,1,1,0,NA
69928,1344639717778735106,1,0,0,WALLAHI No mob can attack MUSLIMs and MASJIDS ...
67938,1377372853754945537,1,0,0,This is Robbie.‚Äô Dusty produce the doggie bowl...

In [104]:
df_sample25.to_csv('df_sample25.csv', index=False)

In [99]:
error_list

[1343630042526601217,
 1342750820425723904,
 1233862769319038977,
 1377278950808772617,
 1344392976370454533]